{% extends "base/base.html" %}
{% block head_content %}
<title>Post @{{post.user.username }}</title>
{% endblock %}
{% block container %}
<div class="contariner">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
            <div class="media pt-3 pl-3 pb-1">
                <a href="{% url "users:detail" post.user.username %}">
                    <img src="{{post.profile.picture.url}}" alt="{{post.user.get_full_name}}" class="mr-3 rounded-circle"
                        height="35">
                    <div class="media-body">
                </a>
                <p style="margin-top:5px">{{post.user.get_full_name}}</p>
            </div>
        </div>
        <img src="{{ post.photo.url  }}" style="width:100%" alt="">
        <p class="mt-1 ml-3">
             <a href="" style="color:#000; font-size: 20px">
                <i class="fa fa-heart"></i></a> 30 likes

                <a href="" style="color:#000; font-size: 20px">
                <i class="fa fa-comment"></i></a> 2 Comments
            
        </p>



        
        <p class="mt-2 ml-4">
            <b>Title:</b>{{post.title}}
        </p>
        <p class="mt-2 ml-4">
            <b>Created:</b>{{post.created}}
        </p>
    </div>
</div>
</div>
{% endblock %}