
{% extends "users/base/base.html" %}
{% block head_content %}
  <title>Platzigram sign in</title>
{% endblock head_content %}

{% block container %}
{% if form.erros %}
<p class="alert alert-danger">Bad Credencials, didn't match. Try Again</p>
  
{% endif %}
  <form method="POST" action="{% url 'users:login'%}">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="username">
  
    </div>
    <div class="form-group">
  
      <input class="form-control" type="password" name="password" placeholder="password">
    </div>
  <button class="btn btn-primary btn-block mt-5" type="submit">Sign in </button>
  
  </form>
{% endblock container %}