{% extends "base/base.html" %}
{% load static %}

{% block head_content %}
<title>@{{request.user.username}} | update profile </title>
{% endblock head_content %}
{% block container %}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.first_name.label}}
                {{form.first_name}}
                {{form.groups.label}}
                {{form.groups}}
                <button class="btn btn-primary btn-block mt-5"> Update info</button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}